# ===== Java / Maven =====
target/
*.class
*.jar
*.war
*.ear

# ===== Logs =====
*.log

# ===== IDEs =====
# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Karate =====
# Reportes generados automáticamente
target/karate-reports/

# Archivos temporales generados en pruebas
target/*.json
